# Export functions
export(nba_schedule)
export(nba_scores)
export(nba_team_stats)
export(nba_player_stats)
export(nba_shots)
export(nba_shots_league_avg)
export(nba_shot_chart)
export(nba_box_scores)
export(nba_box_scores_matchups)
export(nba_data_play_by_play)
export(nba_stats_play_by_play)
export(nba_win_probability)
export(nba_fanduel)
export(nba_standings)
export(nba_team_dictionary)
export(nba_player_dictionary)
export(nba_team_logo)
export(nba_player_headshot)
export(nba_profile_info)
export(nba_profile_stats)
export(nba_career_splits)
export(nba_player_highs)
export(nba_career_stats)
export(nba_career_rankings)
export(nba_player_awards)
export(nba_player_news)
export(nba_team_colors)

# Import packages
import(dplyr)
import(tidyr)
import(purrr)
import(ggplot2)

# Import functions from packages
importFrom(stringr, str_detect, str_replace_all, str_to_lower, str_split, regex)
importFrom(lubridate, as_date, mdy, mdy_hm, with_tz, interval, years)
importFrom(tibble, as_tibble, tibble)
importFrom(janitor, clean_names)
importFrom(furrr, future_map_dfr)
importFrom(future, multisession, plan)
importFrom(glue, glue)
importFrom(httr, GET, add_headers, http_status)
importFrom(jsonlite, fromJSON)
importFrom(rvest, html_node, html_nodes, html_text, read_html)
importFrom(zoo, na.locf)
importFrom(plotly, ggplotly, layout)
importFrom(stats, na.omit)
importFrom(utils, head, tail)
