# Export functions
export(nba_schedule)
export(nba_scores)
export(nba_team_stats)
export(nba_player_stats)
export(nba_shots)
export(nba_shots_league_avg)
export(nba_shot_chart)
export(nba_box_scores)
export(nba_box_scores_matchups)
export(nba_data_play_by_play)
export(nba_stats_play_by_play)
export(nba_win_probability)
export(nba_fanduel)
export(nba_standings)
export(nba_team_dictionary)
export(nba_player_dictionary)
export(nba_team_logo)
export(nba_player_headshot)
export(nba_profile_info)
export(nba_profile_stats)
export(nba_career_splits)
export(nba_player_highs)
export(nba_career_stats)
export(nba_career_rankings)
export(nba_player_awards)
export(nba_player_news)
export(nba_team_colors)

export(get_all_players_for_league)
export(get_all_season_stats)
export(get_assist_combo_summary)
export(get_assist_networks)
export(get_endgame_breakeven_2_pct)
export(get_four_factor_on_off)
export(get_game_logs)
export(get_game_stats)
export(get_games)
export(get_leverage)
export(get_lineup_opponent_summary)
export(get_lineup_player_stats)
export(get_lineup_subunit_stats)
export(get_live_game)
export(get_live_games)
export(get_number_of_starter_stats_by_team)
export(get_on_off)
export(get_pace_efficiency_by_season)
export(get_pace_efficiency_summary)
export(get_playing_time_distribution)
export(get_possession_length_frequency)
export(get_possessions)
export(get_relative_off_def_efficiency)
export(get_scatter_plots)
export(get_score_margin_breakdown)
export(get_score_time_summary)
export(get_shot_query_summary)
export(get_shots)
export(get_team_leverage_summary)
export(get_team_players_for_season)
export(get_teams)
export(get_top_results)
export(get_totals)
export(get_win_probability)
export(get_wowy_combination_stats)
export(get_wowy_combo_playing_time_distribution)
export(get_wowy_stats)
export(get_year_over_year_plots)

# Import packages
import(dplyr)
import(tidyr)
import(purrr)
import(ggplot2)

# Import functions from packages
importFrom(stringr, str_detect, str_replace_all, str_to_lower, str_split, regex)
importFrom(lubridate, as_date, mdy, mdy_hm, with_tz, interval, years)
importFrom(tibble, as_tibble, tibble)
importFrom(janitor, clean_names)
importFrom(furrr, future_map_dfr)
importFrom(future, multisession, plan)
importFrom(glue, glue)
importFrom(httr, GET, add_headers, http_status)
importFrom(httr2, request, req_headers, req_url_query, req_perform, resp_check_status, resp_body_json)
importFrom(jsonlite, fromJSON)
importFrom(rvest, html_node, html_nodes, html_text, read_html)
importFrom(zoo, na.locf)
importFrom(plotly, ggplotly, layout)
importFrom(stats, na.omit)
importFrom(utils, head, tail)
